{% extends 'shared/_main.html' %}


{% block title %}change password | تغییر کلمه عبور{% endblock %}

{% block content %}
<section class="container-fluid text-lg-right text-center mt-4 p-3 mb-5">
    <div class="row d-flex align-items-center pt-lg-5">
        <ul class="list-group">
            {% include 'profile_module/includes/panel.html' with single=single %}
            &nbsp; 
        </ul>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <form action="{% url 'changepassword-page' %}" method="post"> {% csrf_token %}
            {% for field in change_password_form %}
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
            {% endfor %}
            &nbsp; 
            <div class="form-group col-md-6 d-flex justify-content-start">
                <button type="submit" class="btn btn-lightorng login-btn">ثبت</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}