{% extends 'shared/_main.html' %}
{% load shahab_tags %}

{% block title %}
    جزییات خرید
{% endblock %}

{% block content %}
<div class="row d-flex align-items-center pt-lg-5">
    <ul class="list-group">
        {% include 'profile_module/includes/panel.html' with single=single %}
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </ul>
            <div class="col-md-8">
                <table class="table table-responsive table-hover table-striped">
                    <tr>
                        <th class="text-right">شناسه</th>
                        <th class="text-right">محصول</th>
                        <th class="text-right">تعداد</th>
                        <th class="text-right">قیمت نهایی خرید</th>
                    </tr>
                    {% for detail in order.orderdetail_set.all %}
                        <tr>
                            <td class="text-right">{{ detail.id }}</td>
                            <td class="text-right">{{ detail.product.name }}</td>
                            <td class="text-right">{{ detail.count }}</td>
                            <td class="text-right">{{ detail.final_price | td }} تومان</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
{% endblock %}